.design{
    border: 2px black solid ;
    display: inline-block;
    height: 150px;
    width: 150px;
    box-shadow: 2px 2px 4px #000000;
    transition-duration: 1s;
    
}
img{
    width: 100%;
    height: 50%;
}
.design:hover{
    box-shadow: 2px 4px 8px black;
}
h3{
    display: inline;
}