#parent{
    height: 400px;
    width: 400px;
    background-color: rgb(0, 0, 0);
    border: 2px dotted rgb(252, 252, 252);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#c1{
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: rgb(76, 76, 255);
    border: 2px solid white;
}

#c2{
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: rgb(21, 255, 0);
    border: 2px solid white;
}

#c3{
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: rgb(255, 0, 106);
    border: 2px solid white;
}
